@using Models.Database  
@using System.Globalization

<style>
  .product-title {
      min-height: 72px;
      background-color: var(--rz-secondary-lighter);
  }
  .price-badge {
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      padding: 8px;
  }
</style>

  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="d-flex flex-column h-100">
                  <p class="mb-1 pt-2 text-bold">Try this amazing course</p>
                  <h5 class="font-weight-bolder">@CourseOfTheDay.Name</h5>
                  <p class="mb-5">@CourseOfTheDay.Description</p>
                  <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href=@($"about/{CourseOfTheDay.ID}")>
                    Read More
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-primary border-radius-lg h-100" style="overflow: hidden;">
                  @{
                    if(CourseOfTheDay.Picture != null)
                    {
                      <img style="width: 100%; height: 100%; " src="data:image/png;base64,@Convert.ToBase64String(CourseOfTheDay.Picture)" alt="pic">
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card h-100 p-3">
          <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('../assets/img/ivancik.jpg');">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
              <h5 class="text-white font-weight-bolder mb-4 pt-2">Work with the rockets</h5>
              <p class="text-white">Wealth creation is an evolutionarily recent positive-sum game. It is all about who take the opportunity first.</p>
              <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href=@($"about/{CourseOfTheDay.ID}")>
                Read More
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Appointments</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">30 done</span> this month
                </p>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
              <RadzenScheduler TItem="Appointment" @ref=scheduler Data="@StudentAppointments" TextProperty="GroupName" StartProperty="LessonStart" EndProperty="LessonEnd" AppointmentSelect=@OnAppointmentSelect Style="height: 60vh; margin-left: 5px; margin-right: 5px; border-radius: 16px">
                  <RadzenDayView></RadzenDayView>
                  <RadzenWeekView></RadzenWeekView>
                  <RadzenMonthView></RadzenMonthView>
              </RadzenScheduler>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="card-header pb-0">
            <h6>Progression overview</h6>
          </div>
          <div class="card-body p-3">
              <RadzenTimeline>
                <Items>
                            @{
                                if (SelectedApointment != null)
                                {
                                    foreach (var appointment in SelectedApointment.Group.Appointments)
                                    {
                                        <RadzenTimelineItem PointStyle=@(appointment.LessonStart >= DateTime.Now ? PointStyle.Dark : PointStyle.Success)>
                                            <LabelContent>
                                                <RadzenText TextStyle="TextStyle.Subtitle2" Class="rz-m-0 rz-color-primary">@appointment.LessonStart.ToString("dd MMM", CultureInfo.InvariantCulture)</RadzenText>
                                                </LabelContent>
                                                <ChildContent>
                                                    @appointment.Lesson.Name
                                            </ChildContent>
                                        </RadzenTimelineItem>
                                    }
                                }
                            }
                </Items>
              </RadzenTimeline>
          </div>
        </div>
      </div>
    </div>
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h6>Courses overview</h6>
      </div>
      <div class="card-body p-3">
        <div class="chart">
        </div>
                <RadzenDataList @ref=@dataList TItem="Models.Database.Group" Data=@Groups AllowPaging="true" PageSize="3">
                    <Template Context="group">
                        <RadzenCard Style="width: 100%; padding: 0;">
                          <RadzenRow Gap="0">
                              <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                                  <RadzenLink Path=@($"about/{group.Course.ID}") TextStyle="TextStyle.H6" TagName="TagName.H5"  class="rz-color-secondary">@(group.Course.Name)</RadzenLink>
                              </RadzenColumn>
                              <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                                  <RadzenRow Gap="0">
                                      <RadzenColumn Size="12" SizeMD="6" SizeLG="9">
                                          <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">@group.Course.CourseType</RadzenText>
                                          <RadzenText TextStyle="TextStyle.Body2">@GetDays(group.Course.DaysOfWeek)</RadzenText>
                                      </RadzenColumn>
                                      <RadzenColumn Size="12" SizeMD="6" SizeLG="1" Class="rz-text-align-start rz-text-align-lg-end">
                                          <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Text=@($"{group.Course.PaymentPerHour}₴") />
                                      </RadzenColumn>
                                  </RadzenRow>
                              </RadzenColumn>
                              <RadzenColumn Size="5" SizeLG="2" Class="rz-p-4">
                                  <RadzenButton Text="Enroll" Style="width: 100%" Click=@(args => EnrollButtonClick(args, group)) @onclick:stopPropagation="true" />
                              </RadzenColumn>
                          </RadzenRow>
                      </RadzenCard>
                    </Template>
                </RadzenDataList>
      </div>
    </div>
  </div>
